<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register or Login</title>
</head>
<body>
    <div id="container">
        <h2>Register Account</h2>

        <div id ="register-section">
            <form  method="POST" action="">
                <div class="input-group">
                    <input type="text" name="fname" id="fname" placeholder="First Name" required>
                    <label for="fname">First Name</label>
                </div>
                <div class="input-group">
                    <input type="text" name="lname" id="lname" placeholder="Last Name" required>
                    <label for="lname">Last Name</label>
                </div>
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Email@gmail.com" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="create-password" id="create-password" placeholder="Create Password" required>
                    <label for="password">Set Password</label>
                </div>
                <div class="input-group">
                    <input type="password" name="create-password" id="create-password" placeholder="Retype Password" required>
                    <label for="password">Retype Password</label>
                </div>

                </form>

        </div>

        <h2>Login</h2>

        <div id ="login-section">
            <form method="POST" action="">
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Email@gmail.com" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="Enter Password" required>
                    <label for="passwprd">Enter Password</label>
                </div>
                </form>
            </div>
    </div>
</body>
</html>